.modal {
    position: absolute;
    z-index: 2;
    background-color: lightgrey; 
    padding: 10px;
    border-radius: 25px;
    width: 400px;
    height: 400px;
    margin-left: -200px;
    left: 50%;
    top: 15%;
}

.modal-input {
    margin: 10px;
}
