html {
  background: #1c2333;
  color: #85ceff;
}
.App {
  text-align: center;
}

.tables {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 95%;
}

.shadow {
  position: absolute;
  z-index: 1;
  transition: background 0.25s;
  opacity: 0.5;
  pointer-events: none;
  background: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
