.soda-item {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #85ceff;
}

.soda-item > span {
    padding: 5px;
    flex: 1;
}

.addLabel {
    align-self: flex-start;
    border: 1px solid black;
    cursor: pointer;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    transition: background 0.25s;
    outline: none;
}

.addLabel:hover {
    background: lightgrey;
}
