.navbar {
    display: flex;
    justify-content: center;
    gap: 25px;
  background: #11151f;
  padding: 20px;
  height: 35px;
}

.header-title {
    margin: 0;
}

.header-revenue {
    margin: 0;
}