#soda-machine {
    width: 500px;
    margin: 0 auto;
    position: relative;
    top: 200px;
}

#soda-selection {
    position: relative;
    top: -430px;
    height: 400px;
    padding: 10px;

    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 10px;
    background: #b3fff7;
    border: 2px solid black;
}

.soda-label {
    display: flex;
    border-radius: 25px;
    text-align: center;
    background: #ddeaff;
    border: 2px solid black;
    height: 50px;
    width: 90%;
}

.button-wrapper {
    width: 40%;
    padding: 5px;
}

.soda-button {
    height: 35px;
    width: 35px;
    border: 1px solid black;
    transition: background-color 0.25s;
    border-radius: 100%;
}

.soda-button:hover {
    background-color: lightgrey;
    cursor: pointer;
}
