#soda-machine {
    width: 500px;
    margin: 0 auto;
    position: relative;
}

#soda-selection {
    position: relative;
    top: -508px;
    left: 45px;
    height: 311px;
    width: 350px;
    padding: 10px;
    overflow: auto; 
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 10px;
    gap: 10px;
    border-radius: 10px;

}

@media screen and (max-width: 1450px) {
    #soda-machine {
        top: 140px;
    }
    #soda-selection {
        height: 283px;
    }
}

#soda-selection::-webkit-scrollbar {
    width: 10px;
}

#soda-selection::-webkit-scrollbar-track {
    background: transparent;
}

#soda-selection::-webkit-scrollbar-thumb {
    background-color: #082e6a;
    border-radius: 25px;
    border-left: none;
    border-right: none;
}

#soda-selection::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 35px;
}
#soda-selection::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 35px;
}

.soda-label {
    display: flex;
    border-radius: 25px;
    font-family: monospace;
    color: #15d2ff;
    text-align: center;
    background: #082e6a;
    border: 10px solid black;
    height: 125px;
    padding: 10px;
    width: 90%;
}
.text-wrapper {
    font-size: 25px;
    line-height: 40px;
}
.button-wrapper {
    width: 15%;
    padding: 5px;
}

.soda-button {
    height: 35px;
    width: 35px;
    border: 1px solid black;
    transition: background-color 0.25s;
    border-radius: 100%;
}

.soda-button:hover {
    background-color: rgb(45, 100, 218);
    cursor: pointer;
}
